<body class="entry">
  <div class="module">
    <div>
      <h1 class="title">R//P//S</h1>
      <br>
      <h2 class="tagline">User already exists! Choose another handle.</h2>
    </div>
    <div>
      <form class="credentials" method="post" action="/signup">
        <input type="text" name="username" placeholder="Username">
        <input class="shifted" type="password" name="password" placeholder="Password">
        <input class="submitter" type="submit" value="Sign Up!">
      </form>
    </div>
  </div>
  <div>
    <a class="entrySwitch" href="/login">Log in</a>
  </div>
</body>